services:
  sharkord:
    image: sharkord/sharkord:latest
    container_name: sharkord
    restart: unless-stopped
    ports:
      # Main HTTP/WebSocket port
      - "4991:4991"

      # WebRTC media port (multiplexed UDP+TCP)
      - "40000:40000/udp"
      - "40000:40000/tcp"

    environment:
      # (see all available env vars on the documentation)
      SHARKORD_PORT: "4991"

    volumes:
      - ./data:/home/bun/.config/sharkord
